.card {
  background-color: $color-white;
  border-radius: $radius;
  padding: $gap;
  margin-bottom: $gap;
  cursor: pointer;
  @include card-shadow;
  position: relative;

  &:hover {
    background-color: #f4f5f7;
  }

  .card-content {
    word-wrap: break-word;
    white-space: normal;
    font-size: 14px;
    line-height: 20px;
  }

  .card-comments{
    margin-top: 16px;
    display: flex;
    justify-content: end;
    font-size: 12px;
    color: #232931;

    div {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 3px;
      background: #ececec;
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color .3s;

      &:hover {
        background: #dadada;
      }
    }
  }
}