.inline-textarea {
  width: 100%;
  resize: none;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #0079bf;
  outline: none;
  font-family: inherit;
  min-height: 60px;
  display: block;
}

.inline-input {
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  border: 2px solid #0079bf;
  outline: none;
  font-size: inherit;
}

.inline-text {
  cursor: pointer;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word
}

.inline-buttons {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    background-color: #0079bf;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
  }

  span {
    cursor: pointer;
    font-size: 20px;
    color: #6b778c;
  }
}